html {
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-container{
    display: flex;
    gap: 50px;    
    margin: 20px ;
}


button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: darkgray;
}

